[package]
name          = "nson"
version       = "0.2.4"
license       = "MIT"
authors       = ["dangcheng <dangcheng@hotmail.com>"]
description   = "NSON is a lightweight data-interchange format like JSON or BSON"
documentation = "https://docs.rs/queen-io"
homepage      = "https://github.com/mitum/queen-io"
repository    = "https://github.com/mitum/queen-io"
readme        = "README.md"
keywords      = ["nson"]
edition       = "2018"
exclude       = [
  ".gitignore",
  ".travis.yml",
  "deploy.sh",
  "test/**/*",
]

[dependencies]
indexmap = "1.0"
chrono = "0.4"
byteorder = "1.3"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_bytes = "0.11"
libc = "0.2"
rand = "0.6"
