[package]
name          = "nson"
version       = "0.7.0"
license       = "MIT"
authors       = ["danc <dangcheng@hotmail.com>"]
description   = "NSON is a lightweight data-interchange format like JSON or BSON"
documentation = "https://docs.rs/queen-io"
homepage      = "https://github.com/danclive/nson"
repository    = "https://github.com/danclive/nson"
readme        = "README.md"
keywords      = ["nson", "serialization", "encoding"]
categories    = ["encoding"]
edition       = "2018"
exclude       = [
  ".gitignore",
  ".travis.yml",
  "deploy.sh",
  "test/**/*",
]

[dependencies]
indexmap = "1.3"
byteorder = "1.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
serde_bytes = "0.11"
rand = "0.7"
base64 = "0.12"

[[test]]
name = "test"
path = "test/mod.rs"
